@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background: #ffffff;
  --foreground: #2A373B;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
// html {
//   font-family: var(--modern-gothic), sans-serif;
// }

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--modern-gothic);
}
